In [ ]:
#question1
import pandas as pd
my_list = [10, 20, 30, 40, 50]
series = pd.Series(my_list)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
#question 2
import pandas as pd
dates = pd.date_range(start="2021-05-01", end="2021-05-12")
print(dates)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [2]:
#question 3
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['Delhi', 'Mumbai', 'Chennai']}

df = pd.DataFrame(data)
print(df)

      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   35  Chennai

In [3]:
#question4
import pandas as pd

data = [[1, 'Alice', 25000],
        [2, 'Bob', 30000],
        [3, 'Charlie', 40000]]

df = pd.DataFrame(data, columns=['ID', 'Name', 'Salary'])
print(df)

   ID     Name  Salary
0   1    Alice   25000
1   2      Bob   30000
2   3  Charlie   40000

In [5]:
#question5
import pandas as pd

df = pd.read_csv("sample.csv")  # replace with your CSV filename
print(df)

      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   35  Chennai

In [6]:
#question 6
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 25, 35],
        'Salary': [50000, 40000, 45000, 60000]}

df = pd.DataFrame(data)
sorted_df = df.sort_values(by=['Age', 'Salary'])
print(sorted_df)

      Name  Age  Salary
2  Charlie   25   45000
0    Alice   25   50000
1      Bob   30   40000
3    David   35   60000

In [7]:
#question 7
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}

df = pd.DataFrame(data, index=['a', 'b', 'c'])
print("Custom Indexing:\n", df)

df_reset = df.reset_index(drop=True)
print("\nDefault Indexing:\n", df_reset)

Custom Indexing:
       Name  Age
a    Alice   25
b      Bob   30
c  Charlie   35

Default Indexing:
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [8]:
#question 8
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}

df = pd.DataFrame(data)
print(df.head(2))

    Name  Age
0  Alice   25
1    Bob   30

In [9]:
#question 9
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Occupation': ['Engineer', 'Doctor', 'Engineer', 'Doctor'],
        'Salary': [50000, 70000, 60000, 80000]}

df = pd.DataFrame(data)
avg_salary = df.groupby('Occupation')['Salary'].mean()
print(avg_salary)

Occupation
Doctor      75000.0
Engineer    55000.0
Name: Salary, dtype: float64

In [10]:

#question 10
import pandas as pd
import numpy as np

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, np.nan, 35]}

df = pd.DataFrame(data)
print("Before:\n", df)

df_filled = df.fillna(0)
print("\nAfter:\n", df_filled)

Before:
       Name   Age
0    Alice  25.0
1      Bob   NaN
2  Charlie  35.0

After:
       Name   Age
0    Alice  25.0
1      Bob   0.0
2  Charlie  35.0

In [11]:
#question 11
import pandas as pd

data = {'cname': ['CompanyA', 'CompanyB', 'CompanyC'],
        'profit': [1000, -2000, 0]}

df = pd.DataFrame(data)
df['profit'] = df['profit'] > 0
print(df)

      cname  profit
0  CompanyA    True
1  CompanyB   False
2  CompanyC   False

In [12]:
#question 12
import pandas as pd

df1 = pd.DataFrame({'eid': [1, 2, 3],
                    'ename': ['Alice', 'Bob', 'Charlie'],
                    'stipend': [10000, 12000, 15000]})

df2 = pd.DataFrame({'eid': [1, 2, 3],
                    'designation': ['Intern', 'Trainee', 'Developer']})

merged_df = pd.merge(df1, df2, on='eid')
print(merged_df)

   eid    ename  stipend designation
0    1    Alice    10000      Intern
1    2      Bob    12000     Trainee
2    3  Charlie    15000   Developer